
body {
   margin: 0;
}

div#toolbar {
   position: absolute;

   left: 0;
   right: 0;
   overflow: hidden;
   height: 31px;
}

div#content {
   position: absolute;
   top: 32px;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 5px;
   overflow-y: auto;
   border: none;
   border-radius: 0;
}

body.fullscreen div#content { 
/* this hides the scrollbar. Because it's distracting. You can still use arrow keys and scroll wheel to scroll.
 * It won't work if the scrollbar is bigger than 50 pixels wide :) */
    right: -50px;
    padding-right: 50px;
}

div.simplepadeditor:focus {
   outline: none;
}


/* Toolbar */
/* NOTE: Taken from the medium editor 'default' skin, to make it look nicer */

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 25px; 
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; 
}

.medium-editor-toolbar {
  
   position: absolute;

   left: 0;
   right: 0;
   overflow: hidden;
   height: 31px;
  
}

.medium-editor-toolbar li button {
    padding: 0;
  display: inline-block;
  box-shadow: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
                        
}

.medium-editor-toolbar li:first-child button {
   margin-left: 4px;
}


.medium-editor-toolbar li span.medium-editor-separator {
    padding: 0;
  display: inline-block;
  box-shadow: none;
  border: none;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  min-width: 1px;
  min-height: 25px;
  height: 25px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.medium-editor-toolbar li button:hover {
    box-shadow: 0 0 2px #000;
      
}

.medium-editor-toolbar li .medium-editor-button-active {
  border-style: inset;
}

/* Have to override this one, because the defaults do some weird things that
 * mess with my style */
.medium-editor-toolbar li .medium-editor-action-pre {
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    padding: initial;
}

.medium-editor-toolbar-form {
  border-radius: 2px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    box-sizing: border-box;
    height: 25px; 
}

.medium-editor-toolbar-form a {
}

.medium-editor-toolbar-anchor-preview {
  border-radius: 2px;
}


@media print {

    div#toolbar {
       display: none !important;
    }
    
    div#content {
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       padding: 0;
       border: none;
       margin: 0;
       position: initial;
       overflow: auto;
    }
    
    h1,h2,h3,h4,h5,h6 {
       page-break-inside: avoid;
    }
    
    .medium-editor-anchor-preview {
       display: none !important;
    }
    
    .medium-editor-toolbar {
       display: none !important;
    }
    
    
}
